<div _ngcontent-gvw-c1="" class="padding-sm">
  <header _ngcontent-gvw-c1="" class="blog-header py-3">
    <div _ngcontent-gvw-c1="" class="row flex-nowrap justify-content-between align-items-center">
      <div _ngcontent-gvw-c1="" class="col-4 pt-1"><a _ngcontent-gvw-c1="" class="text-muted" href="#">SignUp</a></div>
      <div _ngcontent-gvw-c1="" class="col-4 text-center"></div>
      <div _ngcontent-gvw-c1="" class="col-4 d-flex justify-content-end align-items-center">
        <form _ngcontent-gvw-c1="" class="form-inline my-2 my-lg-0 ng-touched ng-dirty ng-valid" novalidate=""  (ngSubmit)="login()">
          <input _ngcontent-gvw-c1="" aria-label="Username" class="form-control mr-sm-2 ng-dirty ng-valid ng-touched" name="Username" placeholder="Username" required="" type="text" [(ngModel)]="model.Username">
          <input _ngcontent-gvw-c1="" aria-label="Password" class="form-control mr-sm-2 ng-touched ng-dirty ng-valid" name="Password" placeholder="Password" required="" type="password" [(ngModel)]="model.Password">
          <button _ngcontent-gvw-c1="" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
    </div>
  </header>
  <div _ngcontent-gvw-c1="" class="nav-scroller py-1 mb-2">
    <nav _ngcontent-gvw-c1="" class="nav d-flex justify-content-between">
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">World</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">U.S.</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Technology</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Design</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Culture</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Business</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Politics</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Opinion</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Science</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Health</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Style</a>
      <a _ngcontent-gvw-c1="" class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>
</div>